<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <!--This is header partial to share for all files  like nav and headers , stylings and other similar static files-->
  
