<% include partials/headers/header.ejs %>

<<<<<<< HEAD

=======
<!-- Main Styles -->
    <link rel="stylesheet" href="css/styles.css"> 

<!--<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">John Smith</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope">
            <span class="badge badge-danger">11</span>
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bell"> <span class="badge badge-info">11</span> </i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-sign-out-alt"> </i> Logout
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>-->
	
<!--<div class="navbar">
  <div class="row">
    <div class="column column-30 col-site-title"><a href="#" class="site-title float-left">Medialoot</a></div>
    <div class="column column-40 col-search"><a href="#" class="search-btn fa fa-search"></a>
      <input type="text" name="" value="" placeholder="Search..." />
    </div>
    <div class="column column-30">
      <div class="user-section"><a href="#">
        <img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
        <div class="username">
          <h4>Jane Donovan</h4>
          <p>Administrator</p>
        </div>
      </a></div>
    </div>
  </div>
</div>-->
<div class="row">
>>>>>>> 3aa56a01be059ff17c4659801b05a87809b5e024
  <div id="sidebar" class="column">
    <h5>Navigation</h5>
    <ul>
      <li><a href="#"><em class="fa fa-home"></em>Home</a></li>
      <li><a href="#charts"><em class="fa fa-table"></em>Scheduled</a></li>
      <li><a href="#widgets"><em class="far fa-calendar-plus"></em>New event</a></li>
      <li><a href="#forms"><em class="fa fa-pencil-square-o"></em>New client</a></li>
      <li><a href="#alerts"><em class="far fa-address-card"></em>New instructor</a></li>
     <!-- <li><a href="#buttons"><em class="fa fa-hand-o-up"></em> Buttons</a></li>
      <li><a href="#tables"><em class="fa fa-table"></em> Tables</a></li>
      <li><a href="#grid"><em class="fa fa-columns"></em> Grid</a></li> -->
    </ul>
  </div>
  <section id="main-content" class="column column-offset-20">
    <div class="row grid-responsive">
      <div class="column page-heading">
        <div class="large-card">
          <h1>Hey admin!</h1>
          <p class="text-large">Welcome to GYMOID control panel! You can manage the web site from this panel, see updates, and contacts.</em></p>
        </div>
      </div>
    </div>



<script src="../js/chart.min.js"></script>
<script src="../js/chart-data.js"></script>
<script>
window.onload = function () {
  var chart1 = document.getElementById("line-chart").getContext("2d");
  window.myLine = new Chart(chart1).Line(lineChartData, {
  responsive: true,
  scaleLineColor: "rgba(0,0,0,.2)",
  scaleGridLineColor: "rgba(0,0,0,.05)",
  scaleFontColor: "#c5c7cc"
  });
  var chart2 = document.getElementById("bar-chart").getContext("2d");
  window.myBar = new Chart(chart2).Bar(barChartData, {
  responsive: true,
  scaleLineColor: "rgba(0,0,0,.2)",
  scaleGridLineColor: "rgba(0,0,0,.05)",
  scaleFontColor: "#c5c7cc"
  });
  var chart4 = document.getElementById("pie-chart").getContext("2d");
  window.myPie = new Chart(chart4).Pie(pieData, {
  responsive: true,
  segmentShowStroke: false
  });
  var chart5 = document.getElementById("radar-chart").getContext("2d");
  window.myRadarChart = new Chart(chart5).Radar(radarData, {
  responsive: true,
  scaleLineColor: "rgba(0,0,0,.05)",
  angleLineColor: "rgba(0,0,0,.2)"
  });
  var chart6 = document.getElementById("polar-area-chart").getContext("2d");
  window.myPolarAreaChart = new Chart(chart6).PolarArea(polarData, {
  responsive: true,
  scaleLineColor: "rgba(0,0,0,.2)",
  segmentShowStroke: false
  });
};
</script>			
<% include partials/footers/footer.ejs %>
