<% include ../partials/headers/header.ejs %>

<h1>Client Profile Page</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!--left col-->
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg"
          alt="Card image cap"
        />
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <div class="card">
          <div class="card-header">
            Profile
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item text-right">
                  <span class="pull-left"><strong>ID</strong></span> 385441
                </li>  
            <li class="list-group-item text-right">
              <span class="pull-left"><strong>Name</strong></span> Anne Green
            </li>            
            <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Gym</strong></span> Hanhitie 17
            </li>
            <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Joined</strong></span> 02.09.2018
                  </li>
                  <li class="list-group-item text-right">
                        <span class="pull-left"><strong>Address</strong></span> Kotkantie 1
                      </li>
            <li class="list-group-item text-right">
              <span class="pull-left"><strong>Phone</strong></span> +358 20 6110
              200
            </li>
            <li class="list-group-item text-right">
              <span class="pull-left"><strong>Level</strong></span> Beginner
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Physical status</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="profile" aria-selected="false">Messages</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#settings" aria-controls="contact" aria-selected="false">Settings</a>
                </li>              
            </ul>
      
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane active" id="home">
                <div class="table-responsive">
                  <table class="table table-hover">
                      <hr />
                    <tbody id="items">
                        <tr>
                            <td>Session</td>
                            <td>Height</td>
                            <td>Weight</td>
                            <td>Dietary</td>
                            <td>Previous activities</td>
                            <td>Date</td>
                            
                          </tr>
                      <tr>
                        <td>1</td>
                        <td>165 cm</td>
                        <td>55 kg</td>
                        <td>Vegan</td>
                        <td>Running, Dancing</td>
                        <td>14.02.2019</td>
                        
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>165 cm</td>
                        <td>55 kg</td>
                        <td>Vegan</td>
                        <td>Running, Dancing</td>
                        <td>14.02.2019</td>
                        
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>165 cm</td>
                        <td>55 kg</td>
                        <td>Vegan</td>
                        <td>Running, Dancing</td>
                        <td>14.02.2019</td>
                        
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>165 cm</td>
                        <td>55 kg</td>
                        <td>Vegan</td>
                        <td>Running, Dancing</td>
                        <td>14.02.2019</td>
                        
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>165 cm</td>
                        <td>55 kg</td>
                        <td>Vegan</td>
                        <td>Running, Dancing</td>
                        <td>14.02.2019</td>
                        
                      </tr>
                      
                    </tbody>
                  </table>
                 <!-- <hr /> -->
                  
                </div>
                <!--/table-resp-->
      
               <!-- <hr /> -->
              </div>
              <!--/tab-pane-->
              <div class="tab-pane" id="messages">
                <h2></h2>
      <!--
                <ul class="list-group">
                        <li class="list-group-item text-muted">Inbox</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        
                      </ul> -->
              </div>
              <!--/tab-pane-->
              <div class="tab-pane" id="settings">
                <hr />
                <form class="form" action="##" method="post" id="registrationForm">
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="first_name"><h4>First name</h4></label>
                      <input
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="last_name"><h4>Last name</h4></label>
                      <input
                        type="text"
                        class="form-control"
                        name="last_name"
                        id="last_name"
                        placeholder="last name"
                        title="enter your last name if any."
                      />
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="phone"><h4>Phone</h4></label>
                      <input
                        type="text"
                        class="form-control"
                        name="phone"
                        id="phone"
                        placeholder="enter phone"
                        title="enter your phone number if any."
                      />
                    </div>
                  </div>
      
                  <div class="form-group">
                   
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="email"><h4>Email</h4></label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="you@email.com"
                        title="enter your email."
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="email"><h4>Gym</h4></label>
                      <input
                        type="email"
                        class="form-control"
                        id="location"
                        placeholder="somewhere"
                        title="enter a location"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="password"><h4>Password</h4></label>
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        id="password"
                        placeholder="password"
                        title="enter your password."
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="password2"><h4>Verify</h4></label>
                      <input
                        type="password"
                        class="form-control"
                        name="password2"
                        id="password2"
                        placeholder="password2"
                        title="enter your password2."
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <br />
                      <button class="btn btn-lg btn-success" type="submit">
                        <i class="glyphicon glyphicon-ok-sign"></i> Save
                      </button>
                      <button class="btn btn-lg" type="reset">
                        <i class="glyphicon glyphicon-repeat"></i> Reset
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--/tab-pane-->
          </div>
          <!--/tab-content-->
        </div>
        <!--/col-9-->
  </div>
</div>
<% include ../partials/footers/footer.ejs %>
